<div id="comment-<%= comment.id %>">
  <%# <div class="d-flex space-between"> %>
    <div style="color: grey;">
      <p> <%= comment.user.username %> </p>
    </div>
    <div>
      <%= comment.content %>
    </div>
</div>
