.event-checkedin-container {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: relative;
  margin-top: 16px;
}

.details-card-event {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 5px;
  z-index: 1;
  // margin: 16px;
  height: fit-content;
  min-width: 350px;
}

.details-card-event-details {
  max-width: 70%;
}

.details-card-event-details h2{
  color: white;
}

.details-card-event-details p{
  color: lightgray;
}


.details-card-event-infos {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.details-card-event-infos .fa-people-group {
  position: absolute;
  right: 16px;
  top: 4px;
  font-size: 36px;
}

.details-card-event-infos h6 {
  color: lightgray;
  position: absolute;
  top: 40px;
  right: 20px;
}


.add-image-button #event_photos {
  opacity: 0!important;
  height: 10px!important;
  width: 40px!important;
  margin-top: 15px!important;
}

.material-symbols-outlined {
  padding-left: 14px;
  position: absolute;
  top: 243px;
  color: #3c3b3b;
}

.add-image-button {
  border-radius: 5px;
  background-color: #FAFD69;
  // padding-left: 8px;
  // padding-right: 8px;
  // padding-top: 2px;
  // padding-bottom: 2px;
  width: fit-content;
  height: auto;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.comments-master-container {
  margin: 16px;
}

.comments-master-container h4 {
  color: lightgray;
}

.comments-container {
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: inherit;
  border-style: solid;
  border-color: #3c3b3b;
  // background-color: #3c3b3b;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 150px;
  overflow: scroll;
  color: lightgray;
  font-size: 18px;
}

.comments-container p {
  color: #5CE1E6;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: -6px;
  margin-top: 6px;
}

#comment_content {
  background: inherit;
  border-style: solid;
  border-color: #3c3b3b;
  // background-color: #3c3b3b;
  border-radius: 5px;
  color: lightgray
}

#comment_content::placeholder {
  color: lightgray!important;
}
