.details-card-event {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 5px;
  z-index: 1;
  margin: 16px;
  height: fit-content;
  min-width: 350px;
}

.details-card-event-details {
  max-width: 70%;
}


.details-card-event-infos {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.details-card-event-infos .fa-people-group {
  position: absolute;
  right: 16px;
  top: 4px;
  font-size: 36px;
}

.details-card-event-infos h6 {
  color: rgb(55, 53, 53);
  position: absolute;
  top: 40px;
  right: 29px;
}


#event_photos {
  opacity: 0!important;
  height: 10px!important;
  width: 40px!important;
  margin-top: 15px!important;
}

.fa-plus {
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
  position: absolute;
  top: 258px;
}

.add-image-button {
  border-radius: 5px;
  background-color: yellow;
  // padding-left: 8px;
  // padding-right: 8px;
  // padding-top: 2px;
  // padding-bottom: 2px;
  width: fit-content;
  height: auto;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.comments-master-container {
  margin: 16px;
}
