.event-checkedin-container {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 100px;
}

.add-image-link {
  text-decoration: none;
  color: inherit;
}

// .all-comments {
//   overflow: scroll;
// }

.string {
  color: white;
}

.fa-people-group::before {
  color: #5CE1E6;
  font-size: 24px;
}

.d-flex h6 {
  color: lightgray;
}
