<div class="navbar fixed-bottom sticky-bottom">


<%# ------ Home/index Link --------  %>
    <div class="nav-item d-flex justify-content-center">
      <%= link_to events_path do %>
        <i class="fa-solid fa-house" style="color: #fafd69;"></i>
      <% end %>
    </div>

      <%# ------ Dashboard Link --------  %>
    <div class="nav-item d-flex justify-content-center">
      <%= link_to dashboard_path do %>
        <i class="fa-solid fa-user" style="color: #fafd69;"></i>
      <% end %>
    </div>

    <%# ------ Recommended Events Near you link --------  %>
    <%# -----------  Modal for Events near you ------------ %>
    <div class="nav-item d-flex justify-content-center">
      <div class="recommended-container text-center" data-controller="recommend-modal">
        <i class="fa-solid fa-street-view" id ="modal-button" style="color: #fafd69;" data-action="click->recommend-modal#toggleModal"></i>
          <%# Modal Overlay %>
        <div class="card-events-list col-12 col-lg-8">
          <div id="modal-overlay" class="modal-overlay" data-recommend-modal-target="overlay">
            <div class="modal-content">
              <h1>Events for you</h1>
                <%# <span class="close">&times;</span> %>

                <%# Recommended Events Content partial %>
              <%= render partial: 'events/recommended', locals: { events: @events } %>
            </div>
          </div>
        </div>
      </div>
    </div>

        <%# ------ Followers Link --------  %>
    <div class="nav-item d-flex justify-content-center">
      <i class="fa-solid fa-people-arrows" style="color: #fafd69;"></i>
    </div>

        <%# ------ Logout Link --------  %>
    <div class="nav-item d-flex justify-content-center">
      <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
        <i class="fa-solid fa-person-walking-arrow-right" style="color: #fafd69;"></i>
      <% end %>
    </div>
  </div>
</div>
