  <div class="navbar fixed-bottom">
    <div class="container-fluid">
      <div class="nav-item">
        <i class="fa-solid fa-user" style="color: #fafd69;"></i>
      </div>
      <div class="nav-item">
        <%= link_to '#', data: { action: "click->recommend-modal#toggleModal" } do %>
          <i class="fa-solid fa-street-view" style="color: #fafd69;"></i>
        <% end %>
      </div>
      <div class="nav-item">
        <i class="fa-brands fa-slideshare" style="color: #fafd69;"></i>
      </div>
    </div>
  </div>
