<div class="switch-container" data-controller="friendslist">
  <nav>
    <div class="nav justify-content-center nav-pills" id="nav-pill" role="pilllist">
      <button class="nav-link active" id="switch-comments-pill" data-bs-toggle="pill" data-bs-target="#switch-comments" type="button" role="pill" aria-controls="switch-comments" aria-selected="false">All friends</button>
    </div>
  </nav>
  <div class="pill-content" id="nav-pillContent">
    <div class="pill-pane fade show active" id="switch-description" role="pillpanel" aria-labelledby="switch-description-pill">
      <div class="container">
      <%= form_with url: friends_path, method: :get, html: {class: "mb-4", style: "display: flex; align-items: center; justify-content: center;", data: {friendslist_target: "form"}} do |f| %>
        <%= f.text_field :query,
                     class: "form-control",
                     style: "width: 300px; height: 40px;",
                     placeholder: "Search friends",
                     value: params[:query],
                     data: {friendslist_target: "input",
                     action: "keyup->friendslist#search",
                     } %>
      <% end %>
      <%= render "friends_list", users: @users %>
      </div>
    </div>
    <div class="pill-pane fade" id="switch-comments" role="pillpanel" aria-labelledby="switch-comments-pill">
    </div>
  </div>
</div>
