<div class="background-map" style="width: 100vw; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="recommended-container">
  <!-- Modal Trigger Button -->
  <button type="button" class="btn" style="background-color: #FAFD69;" id="modal-trigger">Events for you</button>
  <!-- Modal Overlay -->
  <div id="modal-overlay" class="modal-overlay">
    <div class="modal-content">
      <span class="close">&times;</span>
      <!-- Recommended Events Content -->
      <%= render partial: 'recommended', locals: { events_near: @events_near, user_coordinates: @user_coordinates } %>
    </div>
  </div>
</div>
<!-- JavaScript for Modal -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Modal Trigger Button
    const modalTrigger = document.getElementById("modal-trigger");

    // Modal Overlay
    const modalOverlay = document.getElementById("modal-overlay");

    // Show Modal
    modalTrigger.addEventListener("click", function() {
      modalOverlay.style.display = "flex"; // Show the modal overlay
    });

    // Function to close modal
    function closeModal() {
      modalOverlay.style.display = "none";
    }

    // Close Button
    const closeButton = document.querySelector(".close");
    closeButton.addEventListener("click", closeModal);

  });
</script>
