<div style="width: 100vw; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="pk.eyJ1IjoiampsaW0tbWIiLCJhIjoiY2xvY2IwdDBuMDQzMDJpcDlma2dwdXA1YyJ9.J3kZG6OnwKEtqdihJkgXhw">
</div>
