<div class="show-map ">
  <div style="width: 100vw; height: 100vh;"
    data-controller="destination"
    data-destination-marker-value="<%= @marker.to_json %>"
    data-destination-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    <div class="show-map-content" data-controller="checkin">
      <div >
        <button class="btn btn-directions"
        style="width: 50px;"
        data-action="click->checkin#showCheckin"
        >
          <i class="fa-solid fa-street-view"></i>
        </button>
      </div>
      <div class="show-card-event p-3 d-none"
      data-checkin-target="card"
      >
        <%= render "checkins/new_checkin",
        event: @event, checkin: @checkin
        %>
        <%= link_to "See all events", events_path, class: "btn btn-directions my-3" %>
        <button class="btn btn-directions"
        style="width: 50px;"
        data-action="click->checkin#showCheckin"
        >
          <i class="fa-solid fa-street-view"></i>
        </button>
      </div>
    </div>
  </div>
</div>
