<div class="home-container">
  <div class="home-logo">
    <%= image_tag('m-pulse.png', alt: 'logo image', class: 'logo-image') %>
  </div>
  <div class="signup-link">
    <%= link_to "Login", new_user_session_path, class: "home-btn" %>
  </div>
  <div class="signup-link">
    <%= link_to "Sign up", new_user_registration_path, class: "home-btn" %>
  </div>

</div>
