<div class="row justify-content-center align-items-center" style = "width: 100%, height: 100%;">
  <div class="not-found-logo">
    <%= image_tag('404 Logo.gif', alt: 'logo image', class: 'logo-image') %>
  </div>
   <div class="message">
    <h1>Sorry! This page is not available</h1>
  </div>
</div>
