
<div class="row justify-content-center align-items-center">
  <div class="message">
    <h1>Sorry! This page is not available</h1>
  </div>
  <div class="not-found-logo">
    <%= image_tag('Pulse.gif', alt: 'logo image', class: 'logo-image') %>
  </div>
</div>
