.show-card-event {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
  margin: 16px;
  height: fit-content;
  min-width: 350px;
}

.carousel-inner {
  height: 200px;
  width: auto;
  object-fit: cover;
  margin: 16px;
  border-radius: 5px;
}

.show-card-event h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.show-card-event p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.show-card-event-button {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.show-card-event-description {
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-card-event-details {
  max-width: 70%;
}


.show-card-event .show-card-event-infos {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.show-card-event-infos .fa-people-group {
  position: absolute;
  right: 16px;
  top: 4px;
  font-size: 36px;
}

.show-card-event-infos h6 {
  color: rgb(55, 53, 53);
  position: absolute;
  top: 40px;
  right: 29px;
}

.btn-directions {
  font-weight: bold;
  background-color: #FAFD69;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  color: #3c3b3b;
}

.btn-directions:hover {
  background-color: rgb(55, 53, 53);
  color: #FAFD69;
  transition: all 0.25s ease;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #FAFD69!important;
  background-color: rgb(55, 53, 53)!important;
}

.nav-link {
  color: rgb(55, 53, 53)!important;
}

.nav-pills .nav-link {
  border-radius: 25px!important;
}

.nav-pills {
  border: solid;
  border-radius: 25px;
  border-color: lightgray;
  padding: 4px;
  width: fit-content;
  margin: auto;

}

.pill-content {
  font-size: 14px;
  color: rgb(55, 53, 53);
  margin-top: 8px;
  margin-bottom: 16px;
}

.fade:not(.show) {
  display: none;
}

.switch-container {
  margin-left: 16px;
  margin-right: 16px;
}

.carousel-time-container {
position: relative;
}

.time-container {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #FAFD69;
  padding: 6px;
  width: 20%;
  position: absolute;
  top: 168px;
  left: 16px;
  text-align: center;
}
