.navbar {
  position: fixed;
  background: black;
  opacity: 70%;
  margin: 0;
  // z-index: 5;
  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  // transform: translateX(-50%);
  height: 80px;
  // margin-top: -3px;
  margin-top: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.nav-item {
  font-size: 30px;
  padding: 10px
}

.fa-people-arrows {
  margin-top: 6px;
}
