.navbar {
  position: fixed;
  // background-color: #191919;
  margin: 0;
  // z-index: 5;
  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  // transform: translateX(-50%);
  height: 80px;
  // margin-top: -3px;
  margin-top: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Set your background image */
  backdrop-filter: blur(16px); /* Adjust the blur radius as needed */
  z-index: -1;
}

.nav-item {
  font-size: 30px;
  padding: 10px
}

.fa-people-arrows {
  margin-top: 6px;
}


.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: #3c3b3b 1px solid;
  margin-bottom: 5px;
}

.nav-dropdown-item {
  position: relative;
  margin-left: 3%;
  margin-right: -3%;
}
.dropdown-menu {
  display: none;
  position: absolute;
  transform: translateY(-150%);
  border-radius: 5px;
}

.icon-active {
  color: #FAFD69; /* Change as per your color preference */
}
