.not-found-logo {
  display: flex;
  justify-content: center; /* Horizontally center the logo */
  align-items: center; /* Vertically center the logo */
}

.message h1 {
  color:white;
  text-align: center;
  margin-top:50px;
}
