
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background-color: rgba(249, 249, 249, 0.797);
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  // overflow-x: scroll;
  padding:0;
}

.recommended-container {
  width: 90%;
  height: 60%;
  overflow:hidden;
}


.close {
  position: absolute;
  top: 10px;
  right: 30px;
  color: rgb(55, 53, 53);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: #FAFD69;
  text-decoration: none;
  cursor: pointer;
}

.background-map{
  position: relative;
  z-index: 1;
}

// #modal-trigger{
//   position: fixed;
//   bottom: 20px;
//   left: 50%;
//   z-index: 1001;
//   transform: translateX(-50%);
//   border-radius: 10px;
// }

.modal-content {
  width: 90%;
  height: 80%;
  overflow-y: hidden;
  overflow: scroll;/* Hide any content that exceeds the height */

}

.badge-popup {
  position: fixed;
  background-color: #e6e6e6;
  border-radius: 8px;
  bottom: 50%;
  right: 50%;
  z-index: 1000;
}

// .badge-popup {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   min-height: 100vh;
// }
