.container-recommended {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 750px) {
  .container-recommended { max-width: 100%; }
}

.container-recommended h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;
}


.card-events-list {
  height: 95px; /* Let the height adjust automatically based on content */
  max-height: calc(80vh - 30px); /* Adjust maximum height to fit within modal content */
  /* Subtract any padding or margin from the modal content's max-height */
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden; /* Hide any content that exceeds the height of card-events-list */
}

.card-image img {
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  height: auto; /* Allow the height to adjust proportionally based on the width */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  border-radius: 50%;
}

.card-event-infos {
  padding: 16px;
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.card-events-list h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-events-list h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}


.card-event-link {
  text-decoration: none;
  color: inherit;
}

.card-event-link:hover {
  text-decoration: none;
  color: inherit;
}

.card-event-infos-details {
  padding: 16px;
  text-decoration: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-event-infos-details p {
  margin: 0;
}

.card-event-icon {
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-event-icon i {
  font-size: 300%;
}

.card-event-icon p {
  position: absolute;
  right: 15px;
  bottom: 8px;
  left: 13px;
  color: #FAFD69;
}
