.container-recommended {
  display: flex;
  flex-direction: column;
  width: 80vw;
  overflow: hidden;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}


.container-recommended h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;
}


.nearby-card-events-list {
  height: 100px;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  // height: 80vh;
  border-style: solid;
  border-color: #3c3b3b;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  width: 75px;
  height: 75px;
  @media (max-width: 280px){ width: 50px; height: 50px }
  @media (min-width: 820px){ margin-right: 0px; }
  @media (min-width: 1080px){ margin-right: 0px; }
}

.card-img-container {
  width: 100%;
  height: 100%;
}


.card-event-infos {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.nearby-card-events-list h6 {
  font-size: 16px;
  color: white;
  margin-bottom: -10px;
  text-decoration: none;
  overflow: hidden;
  text-align: left;
  @media (max-width: 280px){ font-size: 14px; }
  @media (min-width: 768px){ font-size: 25px; }
  @media (min-width: 1080px){ font-size: 25px; }

}

.nearby-card-events-list p {
  font-size: 12px;
  color: lightgray;
  margin-bottom: -3px;
  text-decoration: none;
  overflow: hidden;
  text-align: left;
  @media (max-width: 280px){ font-size: 14px; }
  @media (min-width: 768px){ font-size: 18px; }
  @media (min-width: 1080px){ font-size: 20px; }

}


.card-event-link {
  text-decoration: none;
  color: inherit;
  overflow: hidden
}

.card-event-link:hover {
  text-decoration: none;
  color: inherit;
  overflow: hidden
}

.card-event-infos-details {
  padding: 0;
  text-decoration: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-event-icon {
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
  padding: 0;
}

.icon-and-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 280px){ width: 30px; height: 30px;}

}

.icon-and-text i {
  font-size: 140%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @media (max-width: 280px){ font-size: 120%;}
  @media (min-width: 375px){ font-size: 150%;}
  @media (min-width: 1080px){ font-size: 150%;}

}

.icon-and-text p {
  position: absolute;
  vertical-align:	bottom;
  height:100%;
  width: 100%;
  color:#3c3b3b;
  overflow: hidden;
  margin-bottom: 0px;
  margin-top: 90px;
  margin-left: 10px;
  @media (max-width: 280px){font-size: 10px; margin-top: 60px; margin-left:20px}
  @media (min-width: 360px){ font-size: 12px;}

}

.simple-form-category {
  font-size: 15px;

}

#event_category {
  border-radius: 5px;;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.icon-and-text-dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 280px){ width: 30px; height: 30px;}
}

.icon-and-text-dashboard i {
  margin-right: -66px;
  font-size: 140%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @media (max-width: 280px){ font-size: 120%;}
  @media (min-width: 375px){ font-size: 150%;}
  @media (min-width: 1080px){ font-size: 150%;}

}

.icon-and-text-dashboard p {
  position: absolute;
  top: 18px;
  right: 5px;
  color: lightgray;
  font-size: 14px;
  @media (max-width: 280px){font-size: 10px; margin-top: 60px; margin-left:20px}
  @media (min-width: 360px){ font-size: 12px;}
}

.icon-and-text-nearby {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 280px){ width: 30px; height: 30px;}
}

.icon-and-text-nearby i {
  margin-right: -10px;
  font-size: 75%!important;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @media (max-width: 280px){ font-size: 120%;}
  @media (min-width: 375px){ font-size: 150%;}
  @media (min-width: 1080px){ font-size: 150%;}

}

.icon-and-text-nearby p {
  position: absolute;
  top: 19px;
  right: 8px;
  color: lightgray;
  font-size: 14px;
  @media (max-width: 280px){font-size: 10px; margin-top: 60px; margin-left:20px}
  @media (min-width: 360px){ font-size: 12px;}
}
